#pfp{  
    border: 1px solid #ddd;
    border-radius: 2233px;
    padding: 5px;
    position: static;
}

.icons{
    border: 0px ;
    border-radius: 0px;
    padding: 5px; 
    margin: 20px 25px;
    
    width: 80px
}
/* #techSkills{
    display: inline;
}

.iconDiv{
    display: flex;
    flex-direction: column;
} */
#footerImg{
 width:20px;
 border: 0px ;
 border-radius: 0px;
 margin-top: 0px;
 padding: 0px;
}

#divhead{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
#imgdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

body{
    background-image: linear-gradient(to right,  #bd5cff, hotpink,  #ffa3ff);
    border: #aa00ff 8px solid;
    animation-name: boxShadow;
    background-image: url("https://images.saymedia-content.com/.image/t_share/MTkzOTUzODU0MDkyODc5MzY1/particlesjs-examples.gif");
    background-size: contain;
    animation-duration: 9s;
}


@keyframes boxShadow {
    from { box-shadow: 0px 15px -3px 1px #e6ccff}
    to { box-shadow: 3px 3px 2px 1px #600080} 
    
}
header{
    /* animation-name: spin;
    animation-duration: 4s; */ 
    height: 700px;   
}

nav{
    background: #202060;
    font-size:20px;
    display:flex;
    justify-content:center;
    align-items: center;
    border: 0.5px white dotted;

}

.navClass{
    padding: 10px;
    margin: 0px 50px ;
    color: white;
    text-decoration: none;
    
}
.navClass:hover{
    color: darkorchid;
    background:#d7d7d7 ;
    border-radius: 1.95px
}
#animationDiv{ 
    width: full;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 800px
}

@keyframes rotate {
    from { opacity: 1}
    to {opacity: 0.1}
    from {opacity: 0.0}
    to { opacity: 1}
}

#anima{
    /* background-color: #cc33ff ; */
    /* width:60px; */
    /* height:60px; */
    display:flex;
    justify-content: center;
    align-items: center;
    animation-name: rotate;
    animation-duration: 5s;
    border-radius: 3px;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

#animate{
    border-radius: 3px;
    animation-name: rotate;
    animation-duration: 9s;
    background: #f2ccff;
    width:50px;
    height:50px;
}

section{ 
    background-color: #cc99ff;
    border-width: 2.3px;
    border-color: #eb99ff;
    border-style: solid;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 3px 3px 2px 1px #a64dff ;
    margin: 50px 30px 30px 30px;
}

footer{
    background: black;
    color: white;
    /* width: ; */
    height: 100%;
    padding: 20px 40px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes changewidth {
    from {width: 1200px;}
    to {width: 400px;}
  }
  
#statement{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.525rem;
    line-height: 1.75rem;

    animation-duration: 5s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 5s;
  }
